body {
  background-color: #fff;
  color: #333;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#main-header {
  background-color: cadetblue;
  color: #333;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
}

#navbar {
  background-color: #333;
  color: cadetblue;
  text-align: center;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar li {
  display: inline;
}

li a,
aside a {
  text-decoration: none;
  font-size: 18px;
  padding-right: 0px;
}

aside a {
  color: #333;
}

li a {
  color: cadetblue;
  margin: 10px;
}

#aboutParagraph a {
  color: cadetblue;
  text-decoration: none;
}

#navbarline {
  background-color: cadetblue;
  text-align: center;
  height: 1px;
  margin-bottom: 30px;
}

#main {
  float: left;
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;
}

#sidebar {
  float: right;
  width: 30%;
  background: cadetblue;
  color: #333;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

#main-footer {
  background: cadetblue;
  color: #333;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

#JacobSchantzImage {
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

#image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  #main {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }

  #sidebar {
    width: 100%;
    float: none;
  }
}
